h1 {
  color: #086244;
  text-align: center;
  font: 1em/1.2 "Poppins", sans-serif;
  font-weight: 200;
  font-size: 60px;
}

h2 {
  font: 1em/1.2 "Poppins", sans-serif;
  color: #972605;
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font: 1em/1.2 "Poppins", sans-serif;
  color: #803082;
  font-size: 25px;
  font-weight: 300;
}

h4 {
  font: 1em/1.2 "Poppins", sans-serif;
  color: #3a503a;
  font-size: 23px;
  font-weight: 300;
}

html {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

body {
  --main-blue: #62d8ff;
  background-color: var(--main-blue);
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}

p,
ul {
  font: 1.2em/1 "Lato", sans-serif;
  color: #5b5454;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

img {
  object-fit: contain;
  height: 80%;
  width: 80%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #57d1c5;
}

.main {
  margin-top: 90px;
}

#nav_wrapper {
  display: flex;
  background-color: #57d1c5;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#name {
  padding: 20px;
}

#name {
  font: 1.2em/1 "Lato", sans-serif;
  color: #5d5d5d;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
}

#nav_bar {
  display: flex;
  justify-content: flex-end;
}

#nav_bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#nav_bar li {
  padding: 0px 20px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  list-style-position: inside;
  font-weight: 400;
  font-size: 16px;
  color: #2f6a80;
}

.sketch {
  width: 50%;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galleryImage {
  width: 100%;
  height: auto;
  height: 300px;
}

img {
  object-fit: contain;
}

td {
  text-align: center;
}

table,
th,
td {
  border: 2px solid #0f96e4;
  border-collapse: collapse;
  color: darkolivegreen;
  padding: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #1f5b7b;
  font: 1.2em/2 "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#case-study-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    text-decoration: none;
  }
}

#development-background {
  background-image: url("./case-studies/development/assets/website.png");
  background-size: contain;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a479ba;
  margin: 20px;
}

#development-background:hover {
  background-color: #dfb6ee;
}

#responsive-background {
  background-image: url("./case-studies/responsive-redesign/assets/site.png");
  background-size: contain;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #a479ba;
  margin: 20px;
}

#responsive-background:hover {
  background-color: #dfb6ee;
}

.case-study-card {
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 400px;
  height: 300px;
  border-radius: 20px;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
  align-self: center;

  p {
    color: #0d0c0b;
    font-size: 20px;
  }
  h3 {
    font-weight: 500;
    color: #363534;
    font-size: 30px;
  }
}

iframe {
  object-fit: contain;
  max-width: 100%;
}

.wideImg {
  padding: 2%;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iframe-wrapper {
  padding: 2%;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
}
